* {
    font-family: bilbo, cursive;
    margin: 0;
    padding: 0;
}


html, body {
    background: url("/Assets/images/EuKJ.gif") center;
    background-size: cover;
    height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
    color: red;
}

/* Splash Screen */

/* .intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: 1s;
}

.log-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: goldenrod;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
} */

#timer {
    color: red;
    font-size: 50pt;
    padding-left: 15px;
}

.center_text {
    font-size: 25pt;
    padding: 35px;
    text-align: center;
}

.center_gold {
    margin: auto;
    border: 5px solid goldenrod;
    padding: 10px;
    border-radius: 15%;
}

.quizContainer {
    /* margin-top: 125px; */
    background-color: gold;
    opacity: 65%;
    /* height: 500px; */
    /* width: 75%;
    height:75%; */
    width:80vw;
    max-width: 80%;
    height:70vh;
    box-shadow: 0 0 5px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
}

.score {
    font-size: large;
    font-weight: bold;
}

#user-score {
    color: #ef9614;
}

#total-score {
    color: #f6490f;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question-container {
    margin: 10px;
    padding: 5px;
    width: 70vw;
    height: 30vh;
    background-color: azure;
    font-size: x-large;
    text-align: center;
}

.btn {
    font-size: large;
    font-weight: bold;
    box-shadow: 0 6px 12px -2px rgba(#f27813,.15);
    background: #ef9614;
    border-radius: 4px;
    color: beige;
    cursor: pointer;
    padding: 10px;
}

.btn:hover {
    color: black;
    padding: 15px;
}

.options {
    padding: 10px;
    order: 3;
}

.controls {
    padding: 10px;
    order: 4;
}

.hide {
    display: none;
}









/* .quizGame {
    margin-top: 125px;
    background-color: gold;
    opacity: 65%;
    /* height: 500px; */
    width: 75%;
    height:75%;
}

ul {
    list-style: none;
}
li {
    font-family:'Cambria', serif;
    font-size: 1.5em;
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}
p {
    font-family:'Gabriola', serif;
}
/* Quiz Classes */
 .quizContainer {
    background-color: white;
    border-radius: 6px;
    width: 75%;
    margin: auto;
    padding-top: 5px;
    /*-moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;*/
    position: relative;
}
.quizcontainer #quiz1{
    text-shadow:1px 1px 2px orange;
    font-family:"Georgia", Arial, sans-serif;
}

.startBtn {
    box-shadow: 3px 3px 5px gold;
    border-radius: 6px;
    height: 150px;
    text-align: center;
    background-color: lightgrey;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
	font-size: 50px;
	font-weight:bold;
    padding: 15px;
	
}

.nextButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 6px;
   /* width: 150px;*/
    height: 40px;
    text-align: center;
    background-color: lightgrey;
    /*clear: both;*/
    color: red;
    font-family:'Gabriola', serif;
    position: relative;
    margin: auto;
	font-size:25px;
	font-weight:bold;
    padding-top: 5px;
	float:right;
	right:30%;
}

.preButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 6px;
    /*width: 150px;*/
    height: 40px;
    text-align: center;
    background-color: lightgrey;
    /*clear: both;*/
    color: red;
    font-family:'Gabriola', serif;
    position: relative;
    margin: auto;
	font-size:25px;
	font-weight:bold;
    padding-top: 5px;
	float:left;
	left:30%;
} */

/* .question {
    font-family:'Century', serif;
    font-size: 1.5em;
	font-weight:bold;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: #f3dc45;
    text-align: center;
}
.quizMessage {
    background-color: peachpuff;
    border-radius: 6px;
    width: 20%;
    margin: auto;
    text-align: center;
    padding: 5px;
	font-size:20px;
	font-weight:bold;
    font-family:'Gabriola', serif;
    color: red;
	position:absolute;
	top:80%;
	left:40%;
}
.choiceList {
    font-family: 'Arial', serif;
    color: #ed12cd;
	font-size:15px;
	font-weight:bold;
}
.result {
    width: 40%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
	color:green;
    text-align: center;
	font-size:25px;
    font-family:'Verdana', serif;
	font-weight:bold;
	position:absolute;
	top:80%;
	left:30%;
}
End of Quiz Classes */